.App {
  width: 500px;
  margin: auto;
  border: 2px solid;
  border-radius: 5px;
}

.header {
  background-image: url(banner.jpg);
  background-size: cover;
  height: 90px;
}

.github-icon {
  height: 50%;
  margin: 4%;
}

#tournaments-container {
  padding: 0 3px 3px;
  overflow: hidden;
  position: relative;
}

.tournaments-bg {
  width: 500px;
  z-index: -1;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

#tournaments-container h3 {
  margin-top: 7px !important;
  text-align: center;
  margin: 3px;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}

tbody tr {
  border: 2px solid darkgray;
}

td div {
  height: 60px;
  overflow: scroll;
}

td div p {
  margin: 2px;
}

.match-time {
  width: 105px;
}

.teams {
  width: 190px;
}
